@model Web_TraSua.Models.Entities.TraSua

<title> Xoá Sản Phẩm </title>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TraSua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.huongvi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.huongvi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anhts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anhts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
